.idea/
build/
.kotlin/
.swiftpm
.gradle
.DS_Store
local.properties
xcuserdata
*.xcarchive
Package.resolved
*.a
.build/
source/stytch-multiplatform/sdk/shared/src/iosMain/interop/StytchShared
*.xcframework
node_modules
.env
dist/
lib/
*.p12
derived/
.claude
.docc-build/
kotlin-js-store/

source/react-native/b2b/*
!source/react-native/b2b/StytchReactNative.podspec
!source/react-native/b2b/src
source/react-native/b2b/src/__mocks__
!source/react-native/b2b/package.json
!source/react-native/b2b/yarn.lock

source/react-native/consumer/*
!source/react-native/consumer/StytchReactNative.podspec
!source/react-native/consumer/src
source/react-native/consumer/src/__mocks__
!source/react-native/consumer/package.json
!source/react-native/consumer/yarn.lock
