.idea/
build/
.kotlin/
.swiftpm
.gradle
.DS_Store
local.properties
artifacts/
xcuserdata
*.xcarchive
*.xcframework
Package.resolved
*.a
.build/
stytch-multiplatform/sdk/shared/src/iosMain/interop/StytchShared
node_modules
.env
dist/
lib/
*.p12
derived/
react-native/b2b/ios/
react-native/b2b/android/
react-native/b2b/src/NativeStytchBridge.ts
react-native/b2b/StytchReactNative.podspec
react-native/consumer/ios/
react-native/consumer/android/
react-native/consumer/src/NativeStytchBridge.ts
react-native/consumer/StytchReactNative.podspec