.idea/
build/
.kotlin/
.swiftpm
.gradle
.DS_Store
local.properties
xcuserdata
*.xcarchive
Package.resolved
*.a
.build/
source/stytch-multiplatform/sdk/shared/src/iosMain/interop/StytchShared
*.xcframework
node_modules
.env
dist/
lib/
*.p12
derived/
.claude
.docc-build/
kotlin-js-store/

# ignore all b2b/ and consumer/ files in RN source...
source/react-native/b2b/*
source/react-native/consumer/*

# except the unique files
!source/react-native/**/src/__tests__/*
!source/react-native/**/src/contexts.tsx
!source/react-native/**/src/hooks.tsx
!source/react-native/**/src/index.tsx
!source/react-native/**/src/providers.tsx
!source/react-native/**/src/utils.ts
!source/react-native/**/package.json
!source/react-native/**/yarn.lock

# and always include everything in shared
!source/react-native/shared/*

# except the dang DS_Store
.DS_Store