package {{apiPackage}}

import com.stytch.sdk.data.StytchDataResponse
import com.stytch.sdk.dfp.DFPPAEnabled
import de.jensklingenberg.ktorfit.http.Body
import de.jensklingenberg.ktorfit.http.Path
import de.jensklingenberg.ktorfit.http.POST
import de.jensklingenberg.ktorfit.http.GET
import de.jensklingenberg.ktorfit.http.PUT
import de.jensklingenberg.ktorfit.http.PATCH
import de.jensklingenberg.ktorfit.http.DELETE
import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
{{#x-kotlin-import-models}}
import {{{modelPackage}}}.*

{{/x-kotlin-import-models}}
internal interface {{classname}} {
    {{#operation}}
    {{#allParams}}
    {{#isEnum}}

    /**
    * enum for parameter {{paramName}}
    */
    @Serializable
    public enum class {{enumName}}{{operationIdCamelCase}}(public val value: {{^isContainer}}{{dataType}}{{/isContainer}}{{#isContainer}}kotlin.String{{/isContainer}}) {
    {{^enumUnknownDefaultCase}}
        {{#allowableValues}}
            {{#enumVars}}
            @SerialName(value = {{^isString}}"{{/isString}}{{{value}}}{{^isString}}"{{/isString}}) {{&name}}({{{value}}}){{^-last}},{{/-last}}
            {{/enumVars}}
        {{/allowableValues}}
    {{/enumUnknownDefaultCase}}
    {{#enumUnknownDefaultCase}}
        {{#allowableValues}}
            {{#enumVars}}
                {{^-last}}
                @SerialName(value = {{^isString}}"{{/isString}}{{{value}}}{{^isString}}"{{/isString}}) {{&name}}({{{value}}}),
                {{/-last}}
            {{/enumVars}}
        {{/allowableValues}}
    {{/enumUnknownDefaultCase}}
    }

    {{/isEnum}}
    {{/allParams}}
    /**
     * {{{httpMethod}}} {{#sanitizePathComment}}{{{path}}}{{/sanitizePathComment}}
     * {{summary}}
     * {{notes}}
     * Responses:{{#responses}}
     *  - {{code}}: {{{message}}}{{/responses}}
     *{{>paramJavadoc}}
     * @return [StytchDataResponse]<{{#returnType}}[{{{.}}}]{{/returnType}}{{^returnType}}[Unit]{{/returnType}}>
     */
    {{#isDeprecated}}
    @Deprecated("This api was deprecated")
    {{/isDeprecated}}
    {{#formParams}}
    {{#-first}}
    {{#isMultipart}}@Multipart{{/isMultipart}}{{^isMultipart}}@FormUrlEncoded{{/isMultipart}}
    {{/-first}}
    {{/formParams}}
    {{^formParams}}
    {{#prioritizedContentTypes}}
    {{#-first}}
    @Headers("Content-Type:{{{mediaType}}}")
    {{/-first}}
    {{/prioritizedContentTypes}}
    {{/formParams}}
    @{{httpMethod}}("{{{path}}}")
    {{#vendorExtensions.x-dfppa-annotation}}{{vendorExtensions.x-dfppa-annotation}}{{/vendorExtensions.x-dfppa-annotation}}
    public suspend fun {{operationId}}({{^allParams}}){{/allParams}}{{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{^-last}}, {{/-last}}{{#-last}}){{/-last}}{{/allParams}}{{#returnType}}: {{/returnType}}StytchDataResponse<{{returnType}}>

    {{/operation}}
}
{{/operations}}
